{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'store/custom.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css" integrity="sha512-6f7HT84a/AplPkpSRSKWqbseRTG4aRrhadjZezYQ0oVk/B+nm/US5KzQkyyOyh0Mn9cyDdChRdS9qaxJRHayww==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Liquore Store</title>
  </head>
  <body> 
    <div class='container_h'>
      <div class="header">
        <div class='left'>
          <a href="#"><i class="fa-solid fa-phone"></i></i>+998935300457</a>
          <a href="#"><i class="fa-brands fa-telegram"></i>youremail@email.com</a>
        </div>
        <div class='right'>
          <div class=social_media>
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-solid fa-globe"></i></i></i></a>
          </div>
          <div class='reg'>
            <a href="#">SIGN UP</a> <a href="#">LOGIN</a>
          </div>
        </div>
      </div>
    </div>
    <div container_w style="background-image: url('{% static 'store/intro.webp'%}');">
      <div class='container_img'>
        <div class='navbar'>
          <div><p>LIQUOR <span>STORE</span></p></div>
              <div class='links'>
               <a id='home' href="#">HOME</a>
               <a href="#">ABOUT</a>
               <a href="{% url 'store:products' %}">PRODUCTS</a>
               <a href="#">BLOG</a>
               <a href="{% url 'store:review' %}">CONTACT</a>
               <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
             </div>
      </div>
      <div class='intro_info'>
        <div class='intro'>
          <div><div><span>Good</span> Drinks <span>For Good</span> </div><div id='moments'>Moments.</div></div>
        </div>
        <div class='buttons'>
            <button>Shop Now</button>
            <button id='btn'>Read More</button>
        </div>
    </div>
    <div class='info'>
          <div class='bckg'>
            <div class='site_info'>
              <img src="{% static 'store/support.png' %}" alt="">
              <div>
                <p id='detail'>ONLINE SUPPORT 24/7</p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
            <div class='site_info_1'>
              <img src="{% static 'store/refund.png' %}" alt="">
              <div>
                <p id='detail'>MONEY BACK <br> GUARANTEE</p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
            <div class='site_info_2'>
              <img src="{% static 'store/free-delivery.png' %}" alt="">
              <div>
                <p id='detail'>FREE SHIPPING & <br> RETURN</p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
        </div>
  </div>
  </div>
  <div class='container'>
      <div class='about'>
        <div class='image'>
          <img src="{% static 'store/about.webp'%}" alt="">
        </div>
        <div class='profile'>
          <div>
            <p id='logo'>Since 1905</p>
            <h3>Desire Meets A New Taste</h3>
          </div>
          <div class='profile_info'>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.</p>
          </div>
          <div class='desc'>
            <span>115</span> Years of Experience In Business
          </div>
        </div>
      </div>
      <div class='assortment'>
        <div>
          <a href="#"><img src="{% static 'store/brandy.webp' %}" alt=""></a>
          <p>Brandy</p>
        </div>
        <div>
          <a href="#"><img src="{% static 'store/gin.webp' %}" alt=""></a>
          <p>Gin</p>
        </div>
        <div>
          <a href="#"><img src="{% static 'store/rum.webp' %}" alt=""></a>
          <p>Rum</p>
        </div>
       <div> 
        <a href="#"><img src="{% static 'store/tequila.webp' %}" alt=""></a>
        <p>Tequila</p>
       </div>
       <div>
        <a href="#"><img src="{% static 'store/vodka.webp' %}" alt=""></a>
        <p>Vodka</p>
       </div>
       <div>
        <a href="#"><img src="{% static 'store/whiskey.webp' %}" alt=""></a>
        <p>Whiskey</p>
     </div>
    </div>
    <div class=offerings>
        <div class='description'>
          <p>Our Delightful offerings</p>
          <h2>Tastefully Yours</h2>
        </div>
        <div class='offering'>
          <div class='prod'>
            <img src="{% static 'store/bacardi.webp' %}" alt="">
            <p id='brand'>Brandy</p>
            <p id='name'>Bacardi 151</p>
            <p id='price'>$49.00</p>
          </div>
          <div class='prod'>
            <img src="{% static 'store/jim_beam.webp' %}" alt="">
            <p id='brand'>Gin</p>
            <p id='name'>Jim Beam</p>
            <p id='price'>$69.00</p>
          </div>
          <div class='prod'><img src="{% static 'store/citadel.webp' %}" alt="">
            <p id='brand'>Rum</p>
            <p id='name'>Citadelle</p>
            <p id='price'>$69.00</p>
          </div>
          <div class='prod'>
            <img src="{% static 'store/glenlivet.webp' %}" alt="">
            <p id='brand'>Rum</p>
            <p id='name'>Glenlivet</p>
            <p id='price'>$69.00</p>
          </div>
          <div class='prod'>
            <img src="{% static 'store/black_label.webp' %}" alt="">
            <p id='brand'>Whiskey</p>
            <p id='name'>Black Label</p>
            <p id='price'>$49.00</p>
          </div>
          <div class='prod'>
            <img src="{% static 'store/macallan.webp' %}" alt="">
            <p id='brand'>Tequila</p>
            <p id='name'>Macallan</p>
            <p id='price'>$69.00</p>
          </div>
          <div class='prod'><img src="{% static 'store/old_monk.webp' %}" alt="">
            <p id='brand'>Vodka</p>
            <p id='name'>Old Monk</p>
            <p id='price'>$69.00</p>
          </div>
          <div class='prod'>
            <img src="{% static 'store/whiskey.webp' %}" alt="">
            <p id='brand'>Whiskey</p>
            <p id='name'>Jameson</p>
            <p id='price'>$69.00</p>
          </div>
        </div>
      </div>
      <div class='link'>
        <a href="{% url 'store:products' %}">View All Products</a>
      </div>
  <div class='container_r'  style='background-image:url({% static "store/background.webp"%})'>
    <div class='container_review'>
      <div class='reviews'>
      <div class='review_info'>
        <p id='testimonial'>Testimonial</p>
        <p id='clients'>Happy Clients</p>
      </div>
      <div class='cards'>
        <div class='card'>
          <p id='review'>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          <div class='card_info'>
            <img src="{% static 'store/review_1.webp'%}" alt="">
            <div>
              <p>Roger Scott</p> <br>
              <p id='review_name'>Marketing Manager</p>
            </div>
          </div>
        </div>
        <div class='card'>
          <p id='review'>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          <div class='card_info'>
            <img src="{% static 'store/review_1.webp'%}" alt="">
            <div>
              <p>Roger Scott</p> <br>
              <p id='review_name'>Marketing Manager</p>
            </div>
          </div>
        </div>
        <div class='card'>
          <p id='review'>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          <div class='card_info'>
            <img src="{% static 'store/review_1.webp'%}" alt="">
            <div>
              <p>Roger Scott</p> <br>
              <p id='review_name'>Marketing Manager</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class=container>
  <div class='blog'>
    <div class='blog_view'>
        <p id='blog_p'>Blog</p>
        <p id='recent'>Recent Blog</p>
    </div>
    <div class='blog_cards'>
      <div class='blog_card'>
        <img src="{% static 'store/blog_view.webp' %}" alt="">
        <div class='opisanie'>
          <p id='date'>23 April 2020</p>
          <p id='recipe'>The recipe from a Winemakers Restaurant</p>
          <p id='text'>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          <a href="#">Continue</a>
        </div>
      </div>
      <div class='blog_card'>
        <img src="{% static 'store/blog_view_1.webp' %}" alt="">
        <div class='opisanie'>
          <p id='date'>23 April 2020</p>
          <p id='recipe'>The recipe from a Winemakers Restaurant</p>
          <p id='text'>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          <a href="#">Continue</a>
        </div>
      </div>
      <div class='blog_card'>
        <img src="{% static 'store/blog_view_2.webp' %}" alt="">
        <div class='opisanie'>
          <p id='date'>23 April 2020</p>
          <p id='recipe'>The recipe from a Winemakers Restaurant</p>
          <p id='text'>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          <a href="#">Continue</a>
        </div>
      </div>
      <div class='blog_card'>
        <img src="{% static 'store/blog_view_3.webp' %}" alt="">
        <div class='opisanie'>
          <p id='date'>23 April 2020</p>
          <p id='recipe'>The recipe from a Winemakers Restaurant</p>
          <p id='text'>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          <a href="#">Continue</a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class='container_f'>
  <div class="container_f">
        <div class="footer">
          <div class="block">
            <h2>LIQUOR <span id="span">STORE</span></h2>
            <p>
              Far far away, behind the <br />
              word mountains, far from <br />
              the countries.
            </p>
            <div class="sm_links">
              <span
                ><a href="#"><i class="fa-brands fa-twitter"></i></a
              ></span>
              <span
                ><a href="#"><i class="fa-brands fa-facebook"></i></a
              ></span>
              <span
                ><a href="#"><i class="fa-brands fa-instagram"></i></a
              ></span>
            </div>
          </div>
          <div class="block">
            <h2>My Account</h2>
            <a href="#">My Account</a>
            <a href="#">Register</a>
            <a href="#">Log In</a>
            <a href="#">My Order</a>
          </div>
          <div class="block">
            <h2>Information</h2>
            <a href="#">About Us</a>
            <a href="#">Catalogue</a>
            <a href="#">Contact Us</a>
            <a href="#">Terms & Conditions</a>
            <a href="#"></a>
          </div>
          <div class="block">
            <h2>Quick Link</h2>
            <a href="#">New User</a>
            <a href="#">Help Center</a>
            <a href="#">Report Spam</a>
            <a href="#">FAQ</a>
          </div>
          <div class="block">
            <h2>Have Questions?</h2>
            <p>
              203 Fake St. Mountain <br />
              View, San Francisco, <br />
              California, USA
            </p>
            <a href="#">+9 999 9999 999</a>
            <a href="#">info@yourdomain.com</a>
          </div>
        </div>
      </div>
</div>
</body>
</html>
